<div class="panel loginPanel">
  <h2>New Post</h2>

  <%= form_for @post do |f| %>
    <%= f.text_field :title, autofocus: true, placeholder: "Title" %>
    <%= f.text_area :description, autofocus: true, placeholder: "Description", rows: 6 %>
    <%= f.select :niche_id, options_for_select(@niches, 1) %>
    <%= f.file_field :image %>
    <%= f.submit "Create", class: "button tiny" %>
  <% end %>
</div>
