<div class="panel">
  <h3 class="postTitle"><%= @post.title %></h3>
  <hr>
  <div class="row">
  <div class="medium-4 columns">
    <%= image_tag @post.image.url(:medium) %>
  </div>
  <div class="medium-8 columns">
    <p class="postDescription"><%= @post.description %></p>
  </div>
  <hr>
  <p>Itinerary</p>
  <table>
  <thead>
    <tr>
      <th width="60">Date</th>
      <th width="60">Time</th>
      <th width="150">What</th>
      <th width="150">How Much</th>
    </tr>
  </thead>
  <tbody>
    <% @itineraries.each do |itr| %>
      <tr>
      <td><%= itr.date %></td>
      <td><%= itr.time %></td>
      <td><%= itr.what %></td>
      <td><%= itr.how_much %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
