<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Niche Planet</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="/">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if user_signed_in? %>
            <li><a href="/posts/new">Post</a></li>
            <li class="has-dropdown">
              <a href="#">USERNAME</a>
              <ul class="dropdown">
                <li><a data-method="delete" href="/users/sign_out">Log Out</a></li>
                <li><a href="#">My Posts</a></li>
                <li><a href="#">Settings</a></li>
              </ul>
            </li>
        <% else %>
          <li><a href="/users/sign_in">Login</a></li>
          <li><a href="/users/sign_up">Sign Up</a></li>
        <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" placeholder="Search Database">
              </div>
              <div class="large-4 small-3 columns">
                <a href="#" class="alert button expand">Go!</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </nav>
</div>
    <% if notice || alert %>
      <div data-alert class="alert-box radius smallAlert">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <a href="#" class="close">&times;</a>
    </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
